<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">APP CRUD PRODUTOS - PYTHON - FLASK - MONGODB(PyMongo)</h1>
    </div>

    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Criar Produto</h5>
                    </div>
                    <div class="card-body">
                        <form action="/produtos" method="POST">
                            <label>Nome</label>
                            <input type="text" class="form-control mb-3" name="nome">
                            <label>Preço</label>
                            <input type="text" class="form-control mb-3" name="preco">
                            <label>quantidade</label>
                            <input type="text" class="form-control mb-3" name="quantidade">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Lista - Produtos</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                                {% for product in products %}

                                    <div class="col">
                                        <li class="list-group-item mb-3">
                                            <form action="/edit/{{product.nome}}" method="POST">
                                                <input type="text" class="form-control" value="{{product.nome}}" name="nome">
                                                <small>CANTIDAD</small>
                                                <input type="text" class="form-control" value="{{product.quantidade}}" name="quantidade">
                                                <small>PRECIO</small>
                                                <input type="text" class="form-control" value="{{product.preco}}" name="preco">
                                                <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                                <a href="/delete/{{product.nome}}" class="btn btn-danger btn-sm mt-3">Deletar</a>
                                            </form>
                                        </li>
                                    </div>

                                {% endfor %}
                            </div>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    <footer class="bg-light text-center text-lg-start">
        <p class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">desenvolvido por <a href="#">agatha.souza</a></p>
    </footer>

</body>
</html>